{% import "lib.html" as macros %}
{% set image = resize_image(path=page.path ~ src, width=640, height=480, op="fit") %}
<figure class="image">
  <a href="{{ src }}"><img src="{{ image.url }}" alt="{{ alt }}"></a>
  {{ macros::figcaption(title=title | default(value=alt)) }}
</figure>
